body{
    background-color: cornflowerblue;
 align-items: center;
}
table{
    font-size: 40px;
background-color: whitesmoke;
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    text-align: center;
    background-color: whitesmoke;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}


h1{
    background-color: whitesmoke;
 display: flex;
 justify-content: center;
 font-family: sans-serif;

}

