body{
background-color: lightblue;
margin: 0;
padding:0;

}
h1{
    background-color: blue;
    text-align: center;
    font-size: 700%;
   font-family: monospace;
   color: gold;
    
}
ul{
    text-align: center;
    font-size: 200%;
    background-color: gold;
}
h2{
    text-align: center;
    font-size: 400%;
    background-color: gold;
}
tbody{
    text-align: center;
    font-size: 200%;
}
    section ul{
        text-align: center;
        font-size: 200%;
    }
    
    table {
       
        font-size: 150%;
        border-color: gold;
    }
     p{
    text-align: center;
    font-size: 200%;
}
a{
    text-align:center;
}
li{
    background-color: white;
}